<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>GesRestaurantes</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid img-circle custom-image"
                                         th:src="${restaurante.getPhotosImagePath()}"
                                         alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center"><span th:text="${restaurante.getNombre()}"></span> </h3>

                                <p class="text-muted text-center"><i class="fas fa-utensils"></i> <span th:text="${restaurante.getTipo().getNombreCategoria()}"></span></p>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Comentarios</b> <a class="float-right" th:text="${calificaciones.size()}"></a>
                                    </li>
                                    <li class="list-group-item">
                                        <b>Estrellas</b> <a class="float-right" th:text="${restaurante.getEstrellas()}"></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- About Me Box -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Acerca del restaurante</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <strong><i class="fas fa-address-card"></i> Descripción</strong>

                                <p class="text-muted" th:text="${restaurante.getDescripcion()}">
                                </p>

                                <hr>

                                <strong><i class="fas fa-map-marker-alt mr-1"></i> Dirección</strong>

                                <p class="text-muted" th:text="${restaurante.getDireccion()}"></p>

                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Comentarios</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Tu calificacion</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="active tab-pane" id="activity">
                                        <!-- Post -->
                                        <th:block th:each="calificacion : ${calificaciones}">
                                        <div class="post">
                                            <div class="user-block">
                                                <img class="img-circle img-bordered-sm" src="/static/dist/img/default.jpg" alt="user image">
                                                <span class="username">
                          <a href="#" th:text="${calificacion.getUsuario().getFullName()}"></a>
                          <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                        </span>
                                                <span class="description">Publicado el día <span th:text="${calificacion.getFecha()}"></span></span>
                                            </div>
                                            <!-- /.user-block -->
                                            <p th:text="${calificacion.getComentario()}">
                                            </p>

                                        </div>
                                        </th:block>
                                        <div th:if="${calificaciones.isEmpty()}">
                                            <h1>No hay calificaciones aun</h1>
                                        </div>
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="timeline">
                                        <!-- Post -->
                                        <div class="post">
                                            <div class="user-block">
                                                <form method="post" th:object="${calificacionUsuario}">
                                                    <div class="form-group">
                                                        <label>Calificación <i class="fas fa-star"></i></label>
                                                        <input type="number" class="kv-fa rating-loading" value="0" data-size="md"  title="" data-min="0" data-max="5" data-step="1" name="estrellas" required th:value="*{estrellas}">
                                                        <br>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="comentario">Deja un comentario</label>
                                                        <input type="text" name="comentario" class="form-control" id="comentario" placeholder="En este restaurante..." required th:value="*{comentario}">
                                                    </div>
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.post -->
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <script>
            $(document).ready(function() {
                $('.kv-fa').rating({
                    theme: 'krajee-fa',
                    filledStar: '<i class="fa fa-star"></i>',
                    emptyStar: '<i class="fa fa-star-o"></i>'
                });
            });

        </script>
    </section>
</div>

</body>
</html>